@use "../../assets/base";
@use "../../assets/variables" as *;

.button {
    background-color: $card-color;
    margin: 0.2rem;
    font-size: 1.5rem;

    &__primary {
        border-color: $border-color;
        border-style: none none none solid;
    }

    &__secondary {
        border: none;
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .button {
        font-size: 1.8rem;
    }
}