@use "../../assets/base";
@use "../../assets/variables" as *;

.counter {
    border: $border-color solid 2px;
    padding: 0.2rem 0.3rem;

    &__title {
        font-size: 1rem;
    }

    &__value {
        font-size: 1rem;
        color: $counter-color;
    }
}