@use "../../assets/base";
@use "../../assets/variables" as *;

.ticker-tracker {
    border: $border-color 2px solid;
    margin: 0.3rem auto 0;
    padding: 0.5rem;
   
    .big-title {
        width: 100%;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.3rem;
    }
    
}

@media screen and (min-width: 768px) {
    .ticker-tracker {
        padding: 0.5rem auto;

        .big-title {
            font-size: 3rem;
        }
    }
   
}

