@use "../../assets/base";
@use "../../assets/variables" as *;

.card {
    border: $border-color solid 2px;
    box-shadow: 0.2rem 0.2rem 0 $counter-color;
    border-radius: 0.7rem;
    background-color: $card-color;
    display: grid;
    grid-template-rows: repeat(3, 30%);
    padding: 0.3rem 1rem 1rem;
    width: 47%;

    &__content {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .card {
        padding: 0.3rem 0.6rem 1rem;
        width: 18%;

        &__content {
            font-size: 1.8rem;
        }
    }
}